@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

* {
    font-family: monospace;
    font-size: 12px;
    margin: 0;
}

body {
    width: 128px;
    height: 128px;
	background-color: #000;
    color: yellow;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#app {
    text-align: center;
}