<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Светодиоды России</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="../assets/js/axios.min.js"></script>
    <script src="../assets/js/axios-extensions.min.js"></script>
    <script src="../assets/js/vue.min.js"></script>
    <script src="../assets/js/script.js"></script>
</head>

<body>
    <div id="app">
        <div class="data-pvk" v-if="cntItems">
            <div class="data-pvk-item" v-for="(value, key) in objData">
                {{ key }} - {{ value }}
            </div>
        </div>
        <div class="message" v-else>
            {{ message }}
        </div>
    </div>
</body>

</html>